{% extends "base.html" %}

{% block title %}
Category List
{% endblock %}

{% block content %}
   <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
    <div class="col-12 pb-5"><h1> List of {{categorylist.cat}} posts</h1></div>
    {% for post in categorylist.posts %}
        <div class="col-md-4">
        <a class="text-dark" href="{{post.get_absolute_url}}">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{ post.featured_image.url }}" alt="Card image cap">
            <div class="card-body">
              <h2 style="font-size:18px;font-weight:bold">{{post.title|truncatechars:50}}</h2>
              <p class="card-text">{{post.excerpt|truncatechars:50}}</p>
              <div style="margin-left: 30px; margin-top: 10px;">
                {% if user.is_authenticated %}
                  {% if user.id == post.author.id %}
                      <button type="button" class="btn btn-light">
                          <a href="{% url 'update_post' post.pk %}">Edit</a>
                      </button>
                      <button type="button" class="btn btn-light" >
                          <a href="{% url 'delete_post' post.pk %}">Delete</a>
                      </button>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
          </a>
        </div>
    {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}