{% extends "base.html" %}

{% block content %}

<!-- Jumbotron -->
<div class="p-5 text-center bg-light">
    <h1 class="mb-3">Treasure Island</h1>
    <h4 class="mb-3">Treasure Island is a new blog website which explain the key features of E-Commerce </h4>
</div>

<div class="container">
    <!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
  
    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/dlkm44f46/image/upload/v1651265631/carousel-3_uzhbmi.jpg" class="d-block w-100" alt="Sunset Over the City"/>
      </div>
  
      <!-- Single itsem -->
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dlkm44f46/image/upload/v1651265852/carousel-4_lfepv0.jpg" class="d-block w-100" alt="Canyon at Nigh"/>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dlkm44f46/image/upload/v1651170972/cld-sample.jpg" class="d-block w-100" alt="Cliff Above a Stormy Sea"/>
      </div>
    </div>
    <!-- Inner -->
  
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Carousel wrapper -->
</div>




<main class="my-5">
    <div class="container">
        <section class="text-center">
            <h4 class="mb-5"><strong>Latest Post</strong></h4>

            <div class="row">
                <div class="col-12 mt-3">
                    <div class="row gx-5">
                        {% for post in post_list %}
                            <div class="col-md-4 mb-4">
                                <div class="card"> 
                                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                            {% if "placeholder" in post.featured_image.url %}
                                                <img class="img-fluid"
                                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" 
                                                    alt="no-imageAvailable">
                                                <a href="#!">
                                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                                </a>
                                            {% else %}
                                                <img class="img-fluid" src="{{ post.featured_image.url }}" alt="no-imageAvailable">
                                                <a href="#!">
                                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                                </a>
                                            {% endif %}
                                                <div class="image-flash">
                                                    <p class="author">Author: {{ post.author }}</p>
                                                </div>
                                    </div>
                                    <div class="card-body">    
                                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                            <h2 class="card-title">{{ post.title }}</h2>
                                            <h5>{{ post.category }}</h5>
                                            <p class="card-text">{{ post.excerpt }}</p>
                                        </a>
                                        <hr />
                                        <p class="card-text text-muted h6">{{ post.created_on }}
                                            <i class="far fa-heart">{{ post.number_of_likes }}</i>
                                        </p>
                                        {% if user.is_authenticated %}
                                            <button type="button" class="btn btn-light">
                                                <a href="{% url 'update_post' post.pk %}">Edit</a>
                                            </button>
                                            <button type="button" class="btn btn-light">
                                                <a href="{% url 'delete_post' post.pk %}">Delete</a>
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="row">
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% if is_paginated %}
                <nav aria-label="page navigation">
                    <ul class="pagination justofy-content-center">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}" 
                                class="page-link">&laquo; PERV </a></li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}" 
                                class="page-link">NEXT &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </section>
        
    </div>
</main>




{%endblock%}